


/*---------------basic body stuff--------------------*/


body {
    width: 100%;
    height: 100%;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4C4C4C;
    font-weight: 200;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h6{
	list-style-type: none;
	margin: 0;
}

b{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	
	
}


.tiny-image-name{
	margin-top: -10px;
}










p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}




a {
    color: grey;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: black;
}

a {
    color: grey;
}
a:visited {
    color: grey;
}


a.morelink {
    text-decoration:none;
    outline: none;
}




.light {
    font-weight: 400;
}

/*---------------------end-basic-body-stuff---------------*/
/*----------start-nav--------------------------*/

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
   

}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
  
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {

}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}


/*----------------------end nav-------------------*/

/*--------start-main-stuff------------*/


#map {
    width: 100%;
    height: 400px;
  
}








.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    margin-right: 10%
    margin-left: 10%;
    
    color: #4C4C4C;
    background: url(../img/flag-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

    .intro {
        height: 100%;
        padding: 0;
    }

}


.bio{
  background-color: white:
}




.jumbotron{
  background-color: #EFF1F1;
  
}

/*------------------------end-main-stuff------*/


/*-----start-configurations----------*/

@media(min-width:768px){
	.infoLine{
		margin: 1% 0 1% 0;
		font-size: 20px
	

	}
	.panel{
		height: 100%;
	}
	
}
	





.smargtop{
  margin-top: 10%;
}

.vcenter {
  
    vertical-align: middle;
 
}

.hcenter{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	

}

.width100{
	width: 100px;
}


.stateInfo{
	height: 100%;
	
}





.floatL{
	
	float: left;
	
	
}

.floatR{
	float: right;
}


#arrowButtons{
	width: 100px;
	margin: 5px 0 5px 0;
	margin: 0 auto;
	position: relative;
	
	
}


#wikiRow{
	text-align: center;
	width: 100%;
	margin: 0 auto;

	
}


.nobrdr{
	border: 0px solid transparent;
}


.smMargAll{
	margin: 5px;
	
}



.morecontent span{
    display: none;
}
.comment {
    width: 100%;
    
}

.whitebrdr{
  border: 0px solid transparent;
}


.nobrdrnobckgrnd{
  border: 0px solid transparent;
  background-color: transparent;
}



/*-----------------end-configurations-----*/

/*----start--images------------*/
#pres-image-wrapper{
	max-hight: 200px;
	
}


#pres-image{
	
	width: auto;


}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	display: inline;
}




#flag{
	width: 100%;
}


/* .littlePic > a > img{
	max-height: 100px;
	overflow: hidden;
	width: 100;
	object-fill: fill;
	
} */


asdf > a > img{
	margin-top: 10px;
	max-height: 100px;
	
}



img::selection {
    background: 0 0;
}



img::-moz-selection {
    background: 0 0;
}
/*--------------------end images--------------/*
/*-------start-buttons----------------*/




div form .btn{
  border:0px solid transparent; 
 }



.moreButton > a{
  color: grey;
}


.whitebrdr{
  border: 0px solid transparent;
}


.nobrdrnobckgrnd{
  border: 0px solid transparent;
  background-color: transparent;
}

.moreButton > a{
  color: grey;
  
}

.widerButton{
	width: 30%;
}

.maxWidth{
	max-width: 400px;
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #808080;
    color: #808080;
    background-color: transparent;
}


::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

/*----------------------end-buttons------------*/

/*------start-typography-----*/
#mainTitle{
	
	text-align: center;

}

.panel > comment > .bold1{
	font-weight: 800;
}



h2 {
	
	
	
	
  -webkit-animation: color-change 40s infinite;
  -moz-animation: color-change 40s infinite;
  -o-animation: color-change 40s infinite;
  -ms-animation: color-change 40s infinite;
  animation: color-change 40s infinite;
}
@-webkit-keyframes color-change{
  0%{
    color: #1A1C39;
  }
 
  20%{
    color: #B70017;
  }


  }
  50%{
    color: #F8AF00;
  }
  
  75%{
    color: #FCFBFA;
    border: 1px solid #CBCBC9;
  }
  
  100%{
    color: #1A1C39;
  }
}

@-moz-keyframes color-change{
    0%{
    color: #1A1C39;
  }
 
  20%{
    color: #B70017;
  }


  }
  50%{
    color: #F8AF00;
  }
  
  75%{
    color: #FCFBFA;
    border: 1px solid #CBCBC9;
  }
  
  100%{
    color: #1A1C39;
  }
}


@-ms-keyframes color-change{
    0%{
    color: #1A1C39;
  }
 
  20%{
    color: #B70017;
  }


  }
  50%{
    color: #F8AF00;
  }
  
  75%{
    color: #FCFBFA;
    border: 1px solid #CBCBC9;
  }
  
  100%{
    color: #1A1C39;
  }
}

@-o-keyframes color-change{
    0%{
    color: #1A1C39;
  }
 
  20%{
    color: #B70017;
  }


  }
  50%{
    color: #F8AF00;
  }
  
  75%{
    color: #FCFBFA;
    border: 1px solid #CBCBC9;
  }
  
  100%{
    color: #1A1C39;
  }
}
@keyframes color-change {
   0%{
    color: #1A1C39;
  }
 
  20%{
    color: #B70017;
  }


  }
  50%{
    color: #F8AF00;
  }
  
  75%{
    color: #FCFBFA;
    border: 1px solid #CBCBC9;
  }
  
  100%{
    color: #1A1C39;
  }
}
}




